# Dependencies
node_modules/

# Environment variables
.env

# Build outputs
dist/
build/

# Prisma local database files (so we don't commit local dev data)
prisma/*.db
prisma/*.db-journal

/src/generated/prisma
